{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yousef Visionary </title>
    
    <link rel="icon" type="image/png" href="/media/images/LOGO.jpg">

    <meta name="description" content="CORESTORE | Yousef Visionary - Software Engineer">

    </head>
<body>
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>